<ul class="dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}">
	<li ng-transclude></li>
	<li class="divider"></li>
	<li style="padding: 9px;">
		<span class="btn-group">

			<button class="btn btn-xs btn-default" ng-click="today()">{{currentText}}</button>
			<button class="btn btn-xs btn-info" ng-click="showWeeks = ! showWeeks" ng-class="{active: showWeeks}">{{toggleWeeksText}}</button>
			<button class="btn btn-xs btn-danger" ng-click="clear()">{{clearText}}</button>
		</span>
		<button class="btn btn-xs btn-success pull-right" ng-click="isOpen = false">{{closeText}}</button>
	</li>
</ul>
